//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 10 30 16:11:36 2023
// spi_clk -> 35
IO_LOC "spi_cipo" 27;
IO_PORT "spi_cipo" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm1638_clk" 31;
IO_PORT "tm1638_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm1638_stb" 32;
IO_PORT "tm1638_stb" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tm1638_dio" 49;
IO_PORT "tm1638_dio" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "push_btn_A" 3;
IO_PORT "push_btn_A" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "sysclk" 52;
IO_PORT "sysclk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_copi" 26;
IO_PORT "spi_copi" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_sck" 28; 
IO_PORT "spi_sck" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "spi_ss" 25;
IO_PORT "spi_ss" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
